<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>tokenFiled</title>
    <script th:src="@{/lib/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/dist/bootstrap-tokenfield.js}"></script>
    <script th:src="@{/lib/serializeJson.js}"></script>
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap-tokenfield.css}"  media="all">
</head>
<script type="text/javascript">
    $(function () {
        $('#tokenfield').tokenfield({
            showAutocompleteOnFocus: true
        });
        $('#tokenfield').on('tokenfield:createtoken', function (event) {
            var existingTokens = $(this).tokenfield('getTokens');
            $.each(existingTokens, function(index, token) {
                if (token.value === event.attrs.value)
                    event.preventDefault();
            });
        });
    })
    function save() {
        let serialize = $('#form').serializeJSON();
        $.ajax({
            type:'POST',
            dataType:'json',
            contentType:"application/json;charset=UTF-8",
            data:JSON.stringify(serialize) ,
            url:'/test/doUpdate',
            success:function (data) {
                if (data.status){
                    alert("修改成功！");
                    location.href='/test/goHello';
                }
            }
        })
    }

</script>
<body>
<div style="height: 200px;width: 500px;background-color: yellowgreen;margin: 50px auto">
    <form action="" method="post"  id="form" style="height: 100%" th:object="${student}">
        <table style="text-align: center;margin: 0px auto">
            <thead>
            <tr>
                <td colspan="2">学生修改</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>姓名：</td>
                <td>
                    <input type="hidden" name="id" th:value="*{id}">
                    <input type="text" class="form-control" name="name" th:value="*{name}">
                </td>
            </tr>
            <tr>
                <td>性别：</td>
                <td>
                    <input type="radio" class="form-control" name="sex" th:value="men" th:field="*{sex}">男
                    <input type="radio" class="form-control" name="sex" th:value="women" th:field="*{sex}">女
                </td>
            </tr>
            <tr>
                <td>年龄：</td>
                <td><input type="text" class="form-control" name="age" th:value="*{age}"></td>
            </tr>
            <tr>
                <td>爱好：</td>
                <td><input type="text" class="form-control" id="tokenfield" name="hobby" th:value="*{hobby}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button" onclick="save()">确定</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</body>
</html>